@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata-Regular';
    src: url('fonts/Inconsolata-Regular.ttf');
}

body {
    background: #f1f1f1;
}


#blocPage {
    margin: 4%;
    background-color: white;
}


img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: Inconsolata-Regular, RobotoCondensed-Light, Verdana, Arial, sans-serif;
    font-size: 1.8em;
    font-weight: bolder;
    width: auto;
    text-align: center;
    margin-right: 20px;
    color: #f1f1f1;
}
/*------------- header --------------------------------------------------*/

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contactInformation {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
}


.contact {
    font-family: 'RobotoCondensed-Light', Verdana, Arial, sans-serif;s
    font-size: 0.8em;
    padding-left: 5px;
    line-height: 1em;
}

.icone {
    width: 18px;
    height: 18px;
    padding-right: 10px;
}

#portfolioSummary {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}

nav {
    display: none;
}

/*-- added in order to workaround an issue with IE --
  -- the size image does not change with IE ---------*/

#imgPortfolio {
    width: 90%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}


/*----------------------portfolio-------------------------*/

.project {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #f1f1f1;
}



#portfolio p,
#portfolio li {
    font-family: Inconsolata-Regular, RobotoCondensed-Light, Verdana, Arial, sans-serif;
    font-size: 1em;
}

.projectTitle {
    font-family: 'RobotoCondensed-Light', Verdana, Inconsolata-Regular, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
}

.periode {
    margin-left: 20px;
    float: left;
}

.flecheDroite {
    float: right;
    margin-right: 10px;
}

.projectDescription {
    font-family: 'RobotoCondensed-Light', Verdana, Inconsolata-Regular, Arial, sans-serif;
    font-size: 0.8em;
    height: 50px;
    margin-top: 20px;
}


#portfolio {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.separationBar {
    margin-top: 50px;
    height: 10px;
    background-color: #f1f1f1;
}

.project p {
    border-top: 20px;
    border-bottom: 20px;
    text-align: center;
}


/*---------------------- order of project -------------------------------*/

.project:nth-child(1) {
    order: 26;
}

.project:nth-child(2) {
    order: 25;
}

.project:nth-child(3) {
    order: 24;
}

.project:nth-child(4) {
    order: 23;
}

.project:nth-child(5) {
    order: 22;
}

.project:nth-child(6) {
    order: 21;
}


/*-- added the next project order here --*/

/*------------- footer --------------------------------------------------*/

footer {
    font-family: 'RobotoCondensed-Light', Verdana, Arial, sans-serif;
    font-size: 0.8em;
    margin: 4%;
}
/*---------------------- media queries----------------------------------- */

@media all and (min-width: 900px) {
    
    h1 {
        font-size: 3em;
        font-weight: 100;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .project {
        width: 45%;
        margin-top: 20px;
    }

    nav {
        display: block;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
    }
    li a {
        font-family: RobotoCondensed-Light, Verdana, Arial, sans-serif;
        display: block;
        color: #000;
        padding: 8px 20px 8px 20px;
        text-decoration: none;
        border: 1px solid #f1f1f1;
    }
    /* Change la couleur du lien quand survol avec la souris*/
    li a:hover {
        background-color: #f1f1f1;
    }
    .contact {
        font-size: 1.0em;
    }
    .icone {
        width: 24px;
        height: 24px;
    }
    /*------------------------------------------------------------------- */
}

@media all and (min-width: 1280px) {
    
    h1 {
        font-size: 4em;
        font-weight: 100;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .project {
        width: 30%;
        margin-top: 50px;
    }

    nav {
        display: block;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
    }
    li a {
        font-family: RobotoCondensed-Light, Verdana, Arial, sans-serif;
        display: block;
        color: #000;
        padding: 8px 20px 8px 20px;
        text-decoration: none;
        border: 1px solid #f1f1f1;
    }
    /* Change la couleur du lien quand survol avec la souris*/
    li a:hover {
        background-color: #f1f1f1;
    }
    .contact {
        font-size: 1.2em;
    }

    .icone {
        width: 30px;
        height: 30px;
    }
}